body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.image-feed-horizontal {
  width: 100vw;
  height: 100dvh;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}

.image-slide-horizontal {
  width: 100vw;
  height: 100dvh;
  flex-shrink: 0;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.image-slide-horizontal:nth-child(2) {
  position: sticky;
  left: 0;
  z-index: 1;
}

.image-slide-horizontal:nth-child(11) {
  position: sticky;
  left: 0;
  z-index: 1;
}

.button-next {
  padding: 15px 30px;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  background-color: rgba(38, 30, 23);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-next:hover {
  background-color: #468ee5;
  color: rgba(242, 227, 213);
}

.slide-content {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-img-01 {
  background-image: url("./images/01.png");
}
.slide-img-02 {
  background-image: url("./images/02.png");
}
.slide-img-03 {
  background-image: url("./images/03.png");
}
.slide-img-04 {
  background-image: url("./images/04.png");
}
.slide-img-05 {
  background-image: url("./images/05.png");
}
.slide-img-06 {
  background-image: url("./images/06.png");
}
.slide-img-07 {
  background-image: url("./images/07.png");
}
.slide-img-08 {
  background-image: url("./images/08.png");
}
.slide-img-09 {
  background-image: url("./images/09.png");
}
.slide-img-10 {
  background-image: url("./images/10.png");
}
.slide-img-11 {
  background-image: url("./images/11.png");
}
.slide-img-12 {
  background-image: url("./images/12.png");
}
.slide-img-13 {
  background-image: url("./images/13.png");
}
.slide-img-14 {
  background-image: url("./images/14.png");
}

@media (max-width: 600px) {
  .button-next {
    font-size: 0.6rem;
    padding: 12px 22px;
  }

  .slide-content {
    justify-content: center;
  }

  @media (max-width: 600px) {
    .slide-img-01 {
      background-image: url("./images/01_mobile.png");
    }
    .slide-img-02 {
      background-image: url("./images/02_mobile.png");
    }

    .button-next {
      font-size: 0.6rem;
      padding: 12px 22px;
    }

    .slide-content {
      justify-content: center;
    }
  }
}
