body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.image-feed-horizontal {
  width: 100vw;
  height: 100dvh;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}

.image-slide-horizontal {
  width: 100vw;
  height: 100dvh;
  flex-shrink: 0;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.image-slide-horizontal:nth-child(8) {
  transform: scaleX(-1);
}

.image-slide-horizontal:nth-child(2) {
  position: sticky;
  left: 0;
  z-index: 1;
}

.image-slide-horizontal:nth-child(7) {
  position: sticky;
  left: 0;
  z-index: 1;
}

.image-slide-horizontal:nth-child(11) {
  position: sticky;
  left: 0;
  z-index: 1;
}

.button-next {
  padding: 15px 30px;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  background-color: rgba(38, 30, 23);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-next:hover {
  background-color: #468ee5;
  color: rgba(242, 227, 213);
}

.slide-content {
  width: 95%;
  height: 20%;
  display: flex;
  justify-content: right;
  align-items: center;
}
