body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.image-feed {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.image-slide {
  width: 100%;
  height: 100vh;

  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;

  z-index: 2;
}

.button-next {
  padding: 15px 30px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #323131;
  background-color: #e8e8e8;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button-next:hover {
  background-color: #323131;
  color: #e8e8e8;
}

.slide-content {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
}

.slide-img-02 {
  background-image: url("./images/compressed/01.jpg");
}
.slide-img-03 {
  background-image: url("./images/compressed/02.jpg");
}
.slide-img-04 {
  background-image: url("./images/compressed/03.jpg");
}
.slide-img-05 {
  background-image: url("./images/compressed/04.jpg");
}
.slide-img-06 {
  background-image: url("./images/compressed/05.jpg");
}
.slide-img-07 {
  background-image: url("./images/compressed/06.jpg");
}
.slide-img-08 {
  background-image: url("./images/compressed/07.jpg");
}
.slide-img-09 {
  background-image: url("./images/compressed/08.jpg");
}
.slide-img-10 {
  background-image: url("./images/compressed/09.jpg");
}
.slide-img-11 {
  background-image: url("./images/compressed/10.jpg");
}
.slide-img-12 {
  background-image: url("./images/compressed/11.jpg");
}
.slide-img-13 {
  background-image: url("./images/compressed/12.jpg");
}
.slide-img-14 {
  background-image: url("./images/compressed/13_no_arrow.jpg");
}

.centered-arrow2 {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 22rem;
  color: rgb(31, 31, 31);
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.image-slide:nth-child(11) {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image-slide:nth-child(10) {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image-slide:nth-child(8) {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image-slide:nth-child(7) {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image-slide:nth-child(6) {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image-slide:nth-child(5) {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image-slide:nth-child(4) {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image-slide:nth-child(3) {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image-slide:nth-child(2) {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image-slide:nth-child(1) {
  position: fixed;
  top: 0;
  z-index: 3;
}

@media (max-width: 600px) {
  .button-next {
    font-size: 0.6rem;
    padding: 12px 22px;
  }

  .slide-content {
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    top: 4rem;
  }

  .centered-arrow {
    font-size: 8rem;
  }
}
