body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.image-feed {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.image-slide {
  width: 100%;
  height: 100vh;

  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;

  z-index: 2;
}

.button-next {
  position: absolute;
  top: 3rem;
  min-width: 6rem;
  padding: 15px 20px;
  font-family: "Mozilla-Text", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #e8e8e8;
  background-color: #272727;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-next:hover {
  background-color: #353535;
  color: white;
  animation: slide-up-pulse 1.5s ease-in-out infinite;
}

.slide-content {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
}

@keyframes slide-up-pulse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-img-02 {
  background-image: url("./images/compressed/01.jpg");
}
.slide-img-03 {
  background-image: url("./images/compressed/02.jpg");
}
.slide-img-04 {
  background-image: url("./images/compressed/03.jpg");
}
.slide-img-05 {
  background-image: url("./images/compressed/04.jpg");
}
.slide-img-06 {
  background-image: url("./images/compressed/05.jpg");
}
.slide-img-07 {
  background-image: url("./images/compressed/06.jpg");
}
.slide-img-08 {
  background-image: url("./images/compressed/07.jpg");
}
.slide-img-09 {
  background-image: url("./images/compressed/08.jpg");
}
.slide-img-10 {
  background-image: url("./images/compressed/09.jpg");
}
.slide-img-11 {
  background-image: url("./images/compressed/10.jpg");
}
.slide-img-12 {
  background-image: url("./images/compressed/11.jpg");
}
.slide-img-13 {
  background-image: url("./images/compressed/12.jpg");
}
.slide-img-14 {
  background-image: url("./images/compressed/13_no_arrow.jpg");
}

@keyframes point-up {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -65%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.centered-arrow2 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 22rem;
  color: #1f1f1f;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.centered-arrow2:hover {
  animation: point-up 1.5s ease-in-out infinite;
  cursor: pointer;
}

.image-slide:nth-child(11) {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image-slide:nth-child(10) {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image-slide:nth-child(8) {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image-slide:nth-child(7) {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image-slide:nth-child(6) {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image-slide:nth-child(5) {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image-slide:nth-child(4) {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image-slide:nth-child(3) {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image-slide:nth-child(2) {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image-slide:nth-child(1) {
  position: fixed;
  top: 0;
  z-index: 3;
  pointer-events: none;
}

@media (max-width: 600px) {
  .button-next {
    font-size: 0.5rem;
    padding: 10px 15px;
  }

  .slide-content {
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    top: 4rem;
  }

  .centered-arrow2 {
    font-size: 8rem;
  }
}
